<h1 mat-dialog-title>Додати посаду на проект</h1>
<form [formGroup]="addPositionForm">
  <div mat-dialog-content>
    <div class="justify-content-center">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Проект</mat-label>
          <mat-select formControlName="project">
            <mat-option *ngFor="let project of projects" [value]="project">{{project.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Введіть назву посади</mat-label>
          <input #positionName matInput formControlName="position">
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Закрити</button>
  <button style="margin-left: 10px" [disabled]="addPositionForm.invalid" mat-raised-button color="primary" (click)="addPositionToProject()">Додати</button>
</div>
