.mat-elevation-z8 {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-bottom: 1rem;

  border-collapse: collapse;
  margin: 0px;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.style-column {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 60px;
  line-break: unset;
  width: 1%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.flex-wrapper {
  display: flex;
  min-height: -webkit-calc(100vh - 65px);
  flex-direction: column;
  justify-content: space-between;
}

.example-card {
  width: fit-content;
  margin: 20px;
}
