<div class="login-page">
  <h2>Авторизація</h2>
  <form [formGroup]="loginForm">
    <div>
      <div class="justify-content-center">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Введіть логін</mat-label>
            <input matInput
                  formControlName="username">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Введіть пароль</mat-label>
            <input type="password" matInput
                   formControlName="password">
          </mat-form-field>
        </div>
      </div>

      <div id="controls" class="row">
        <button [disabled]="loginForm.invalid" (click)="submit()" mat-flat-button color="primary">
          Увійти
        </button>
        <a routerLink="/register">Зареєструватися</a>
      </div>

    </div>
  </form>
</div>
