<app-admin-header></app-admin-header>

<div class="flex-wrapper">
  <div class="container">
    <h1 class="mt-5">Всі завдання</h1>

    <div style="display: flex; flex-direction: row; justify-content: space-between">

      <mat-form-field appearance="outline">
        <mat-label>Пошук</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div style="width: 150px">
        <button mat-icon-button (click)="addTask()" color="primary" >
          Додати завдання
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div style="width: 150px">
        <button mat-icon-button color="primary" (click)="downloadAsPDF()">
          Завантажити звіт
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <div class="mat-sort-header-container">
          <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> ID </th>
        </div>
        <td mat-cell hidden *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва завдання </th>
        <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Опис </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="createTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата створення </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
      </ng-container>

      <ng-container matColumnDef="dueTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дедлайн </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
            {{row.dueTime}}
          </div>
          <div *ngIf="!row.overdue" style="background: white">
            {{row.dueTime}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата початку виконання </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата закінчення </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef> Виконавець </th>
        <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Автор </th>
        <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
      </ng-container>

      <ng-container matColumnDef="lastEditTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата редагування </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.lastEditTime}}</td>
      </ng-container>

      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Проект </th>
        <td mat-cell id="name-project" *matCellDef="let row"> {{row.project.name}}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Пріорітет </th>
        <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
      </ng-container>

      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Стадія </th>

        <td mat-cell *matCellDef="let row" >
          {{row.stage}}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип завдання </th>
        <td mat-cell *matCellDef="let row"> {{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="moreAboutTask(row)" color="primary">
            <mat-icon>more</mat-icon>
          </button>
          <button mat-icon-button (click)="updateTask(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(row)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Не знайдено завдань</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="Сторінка"></mat-paginator>

    <div *ngIf="loading"  style="display: block; margin: 10px auto; width: fit-content;">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

    <div id="pdfTable" #pdfTable>
      <div hidden style="font-size: 14px">
        <h5 style="text-align: center;">Звіт по завданням</h5>
        <table style="text-align: center;font-size: 10px" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва завдання </th>
            <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Опис </th>
            <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <ng-container matColumnDef="createTime">
            <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата створення </th>
            <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
          </ng-container>

          <ng-container matColumnDef="dueTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Дедлайн </th>
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
                {{row.dueTime}}
              </div>
              <div *ngIf="!row.overdue" style="background: white">
                {{row.dueTime}}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="startTime">
            <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата початку виконання </th>
            <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
          </ng-container>

          <ng-container matColumnDef="endTime">
            <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата закінчення </th>
            <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
          </ng-container>

          <ng-container matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Виконавець </th>
            <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
          </ng-container>

          <ng-container matColumnDef="creator">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Автор </th>
            <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
          </ng-container>

          <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Проект </th>
            <td mat-cell *matCellDef="let row"> {{row.project.name}}</td>
          </ng-container>

          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Пріорітет </th>
            <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
          </ng-container>

          <ng-container matColumnDef="stage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Стадія </th>
            <td mat-cell *matCellDef="let row"> {{row.stage}}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип завдання </th>
            <td mat-cell *matCellDef="let row"> {{row.type}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsForReport"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForReport;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <p #date></p>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <h1 class="mt-5">Завдання на перевірці</h1>

    <div style="display: flex; flex-direction: row; justify-content: space-between">

      <mat-form-field appearance="outline">
        <mat-label>Пошук</mat-label>
        <input matInput (keyup)="applyFilterTasksOnReview($event)" #input>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSourceCheck" matSort class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <div class="mat-sort-header-container">
          <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> ID </th>
        </div>
        <td mat-cell hidden *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва завдання </th>
        <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Опис </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="createTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата створення </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
      </ng-container>

      <ng-container matColumnDef="dueTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дедлайн </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
            {{row.dueTime}}
          </div>
          <div *ngIf="!row.overdue" style="background: white">
            {{row.dueTime}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата початку виконання </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата закінчення </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef> Виконавець </th>
        <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Автор </th>
        <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
      </ng-container>

      <ng-container matColumnDef="lastEditTime">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата редагування </th>
        <td mat-cell hidden *matCellDef="let row"> {{row.lastEditTime}}</td>
      </ng-container>

      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Проект </th>
        <td mat-cell id="name-project" *matCellDef="let row"> {{row.project.name}}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Пріорітет </th>
        <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
      </ng-container>

      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Стадія </th>
        <td mat-cell *matCellDef="let row"> {{row.stage}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип завдання </th>
        <td mat-cell *matCellDef="let row"> {{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="moreAboutTask(row)" color="primary">
            <mat-icon>more</mat-icon>
          </button>
          <button mat-button (click)="acceptTask(row)" color="primary">
            Прийняти
          </button>
          <button mat-button (click)="rejectTask(row)" color="warn">
            Відхилити
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Не знайдено завдань</td>
      </tr>
    </table>

    <mat-paginator #paginatorCheck [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="Сторінка"></mat-paginator>

    <div *ngIf="loadingRev"  style="display: block; margin: 10px auto; width: fit-content;">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

  </div>

  <app-footer></app-footer>
</div>





