<h1 mat-dialog-title>Видалити посаду з проекту</h1>
<form [formGroup]="deletePositionForm">
  <div mat-dialog-content>
    <div class="justify-content-center">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Проект</mat-label>
          <mat-select formControlName="project">
            <mat-option  *ngFor="let project of projects" [value]="project" (onSelectionChange)="setUpPositions(project, $event)" >{{project.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Посада на проекті</mat-label>
          <mat-select formControlName="position">
            <mat-option *ngFor="let position of positions" [value]="position">{{position.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Закрити</button>
  <button style="margin-left: 10px" [disabled]="deletePositionForm.invalid" mat-raised-button color="primary" (click)="deletePosition()">Видалити</button>
</div>
