<mat-toolbar color="primary">
  <button mat-icon-button (click)="main()">
    <mat-icon>people</mat-icon>
    <span>TeamWorkerManager</span>
  </button>
  <span class="example-spacer"></span>
  <button mat-flat-button style="margin-right: 10px;" (click)="openUsers()">Працівники</button>
  <button mat-flat-button style="margin-right: 10px;" (click)="openProjects()">Проекти</button>
  <button mat-flat-button style="margin-right: 10px;" (click)="openTasks()">Завдання</button>
  <button mat-flat-button style="margin-right: 10px;" (click)="openStatistics()">Статистика</button>
  <button mat-icon-button style="margin-right: 10px;" (click)="logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
